body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#center {
    background-color: bisque;
    display: grid;
    grid-template-rows: 20% 20%;
}

#right {
    background-color: blueviolet;
    display: grid;
    grid-template-rows: 30% 70%;
}

#left-side-bar {
    background-color: brown;
    display: grid;
}

#gigs {
    background-color: aqua;
}

#services {
    background-color: red;
}

#housing {
    background-color: yellowgreen;
}

#jobs {
    background-color: orange;
}

#search-results {
    background-color: yellow;
}

#event-calender {
    background-color: grey;
}

#location {
    background-color: pink;
}

#portland {
    background-color: royalblue;
}
